@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Account";

}

@model IEnumerable<ThomasianOrglist.Models.Student>

<h2>Students</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.username)</th>
            <th>@Html.DisplayNameFor(model => model.email)</th>
            <th>@Html.DisplayNameFor(model => model.fname)</th>
            <th>@Html.DisplayNameFor(model => model.lname)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.username)</td>
                <td>@Html.DisplayFor(modelItem => item.email)</td>
                <td>@Html.DisplayFor(modelItem => item.fname)</td>
                <td>@Html.DisplayFor(modelItem => item.lname)</td>
                <td>  <img src="data:image/jpg;base64,@item.profile_img" width="120px" height="120px" /></td>

                <td><a asp-action="StudentDetails" asp-route-id="@item.user_id" style=" text-decoration:none ; color:black!important"> <button type="button" class="btn btn-info text-black m-2 w-75"> Show Details </button></a></td>

            </tr>
        }
    </tbody>
</table>